.conteiner-contacto {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.mensaje {
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
.ayuda {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}