.conteiner-nosotros {
	font-size: 20px;
	text-decoration: underline;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.quienes-somos {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.respuesta {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}