.conteiner-novedades {
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}
.korea-novedades {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: 50px;
}
.mensaje-novedades {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: larger;
	padding-top: 30px;
	padding-bottom: 30px;
}